{% extends 'base.html' %}

{% block page_title %}
About Us
{% endblock %}

{% block content %}

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        The Best Healthy Food Choice
      </h1>
      <h2 class="subtitle">
        Your fitness meal in some minutes!
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <p>Food delivery application using Flask. Developed during the Flask course of the CodeShow Twitch channel.</p>
  </div>
</section>

{% endblock %}